<div class="container">
    <div class="row form-group">
        <div class="col-md-3 col-6">x1: <input class="form-control" [(ngModel)]="x1" /></div>
        <div class="col-md-3 col-6">v1: <input class="form-control" [(ngModel)]="v1" /></div>
        <div class="col-md-3 col-6">x2: <input class="form-control" [(ngModel)]="x2" /></div>
        <div class="col-md-3 col-6">v2: <input class="form-control" [(ngModel)]="v2" /></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>{{errorMessage}}</p>
            <button class="btn btn-sm btn-success" (click)="submit()">Check</button>
            <button class="btn btn-sm btn-outline-default" (click)="reset()">Reset</button>
        </div>
    </div>

    <div class="row" *ngIf="result !==''">
        <div class="col text-center">
            <p>Result</p>
            <h2>{{result}}</h2>
        </div>
    </div>
</div>